* {
    box-sizing: border-box;
}

background {
    margin: 0;

}

nav {
    background-color: rgb(255, 102, 0);
    padding-top: 60px;
    width: 850px;
}

nav a {
    padding-right: 70px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

footer {
    background-color: rgb(166,166,166);
    clear: both;

}

footer a {

    text-decoration: none;
}
div.wrapper {
    width: 1000px;
    margin: auto;
}

div#wrapper, footer {
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
}

body {
    margin: auto;
    padding: 20px;
    width: 850px;

}

article {

    float: right;
    margin-left: 440px;
    margin-top: -313px;
}

section.artikel2 {
    float: left;
    margin-left: 10px;
    margin-top: 31px;

}

section.artikel3 {
    float: left ;
    margin-left: 35px;
    margin-top: 31px;


}

header {
    text-align: center;
}

