* {
    box-sizing: border-box;

}
background{

}

body {
    margin: auto;
    padding: 20px;
    width: 850px;
}

footer  {
    background-color: gray;
    padding-top:30px;
    margin: 0 auto;
}


div#wrapper, footer {
    padding: 20px;
    margin: auto;
    width: 1000px;
}

nav {
    background-color: rgb(255,102,0);
    padding-top: 60px;
    width: 1000px;

}
nav a {
    text-decoration: none;
    padding-right: 70px;
    font-size: 25px;
    color: white;
}

header {
    text-align: center;
    padding-right: 50px;
    text-decoration: none;
}

article {
    display: inline-block;
    width:  22%;
    padding-right: 10px;
    padding-top: 40px;

}


article2 {
    display: inline-block;
    width:  22%;
    padding-right: 10px;

}

article3 {
    display: inline-block;
    width:  22%;
    padding-right: 10px;

}


section.uitslag {
    width:50% ;
    float: right    ;

}

section.icon {
    width:25% ;
    float: right ;
    padding-top: 40px;

}

#tekst-uitslag {
    float: right;
    margin-right:308px;
}
footer a {
    color: white;
    text-decoration: none;
}