* {
    box-sizing: border-box;

}

body {
    margin: auto;
    padding: 20px;
    width: 850px;
}

footer  {
    background-color: gray;
    padding-top:30px;
}


div#wrapper, footer {
    padding: 20px;
    margin: auto;
    width: 850px;
}

nav {
    background-color: rgb(255,102,0);
    padding-top: 60px;
    width: 850px;
}

header {
    text-align: center;
}

article {
    display: inline-block;
    width:  22%;
    padding-right: 10px;
    padding-top: 40px;

}


article2 {
    display: inline-block;
    width:  22%;
    padding-right: 10px;

}

article3 {
    display: inline-block;
    width:  22%;
    padding-right: 10px;

}


section.uitslag {
    width:50% ;
    float: right    ;

}

section.icon {
    width:25% ;
    float: right ;
    padding-top: 40px;

}

header.uitslagen {
    width:115% ;
    float:top;
}

#tekst-uitslag {
    float: right;
    margin-right:308px;
}